/* App */

a {
}

#colored {
  color: #7063c0 !important;
}

img {
  margin-bottom: 12px;
}

.home-link {
  text-decoration: none;
  margin-bottom: 1.6em;
  font-size: 1.6rem;
  line-height: 26px;
  color: #999;
  transition: text-decoration 2s;
}

.nav-link {
  transition: text-decoration 2s;
  text-decoration: none;
  margin-bottom: 0.8em;
  font-size: 1.6rem;
  line-height: 26px;
  color: #000;
}

.nav-link:hover {
  text-decoration: underline;
}

#root {
  letter-spacing: 0.5px;
  font-size: 1.2rem;
  line-height: 26px;
}

#top {
  width: 100%;
  margin: 0;
  padding: 3.5em 0 3em 0;
  text-align: left;
}

.top-content {
  margin: 0 8% 0 8%;
}

.title {
  text-align: center;
  max-width: 600px;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: auto;
  margin-right: auto;
  font-size: 2.4rem;
  line-height: 50px;
  font-weight: 600;
}

.type {
  max-width: 600px;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: auto;
  margin-right: auto;
  font-size: 2rem;
  line-height: 30px;
  font-weight: 400;
}

.links {
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
  line-height: 22px;
  font-size: 14px;
  font-weight: 300;
}

#bottom {
  max-width: 2600px;
  margin: 0 auto;
}

.content-container {
  width: 84%;
  margin: 0 auto;
}
/* Home */

.home {
}

.home-img-container {
  display: flex;
  justify-content: space-between;
}

.left {
  flex: 2;
}

.left img {
  padding-right: 12px;
}

.middle {
  flex: 1;
}

.middle img {
  padding-right: 12px;
}

.right {
  flex: 1;
}

/* Footer */

.footer {
  margin: 50px 2% 35px 2%;
  text-align: center;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
  line-height: 22px;
  font-size: 14px;
  font-weight: 300;
}

@media all and (max-width: 768px) {
  .home-img-container {
    flex-direction: column;
  }

  .left {
    flex: 1;
  }
}
