/* App */

#root {
  font-weight: 300;
  letter-spacing: 0.5px;
  font-size: 2rem;
  line-height: 26px;
}

#top {
  width: 100%;
  margin: 0;
  padding: 3.5em 0 3em 0;
  text-align: left;
}

.top-content {
  margin: 0 8% 0 8%;
}

.type {
  max-width: 600px;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: auto;
  margin-right: auto;
}

.links {
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}

#bottom {
  max-width: 2600px;
  margin: 0 auto;
}

.content-container {
  width: 96%;
  margin: 0 2% 0 2%;
}
/* Home */

.home {

}